<div class="footer">
  <%= link_to image_tag('profil.jpg', class:'footer-logo'),'https://www.saatchiart.com/crestey'%>

  <div class="footer-bottom-content">
        <%= link_to image_tag('logo saatchi.png', class:'footer-logo'), 'https://www.saatchiart.com/crestey'%>

    <small><%= link_to "Peintures en vente sur Saatchi Art", 'https://www.saatchiart.com/crestey'%></small>


 <div class="credits">
    <small> Contact: nelly.crestey@numericable.fr </small>
  </div>

    <div class="credits">
      <small> © 2017 Copyright Nelly CRESTEY. Tous droits réservés </small>
    </div>
  </div>
</div>
