

  <!-- Right Navigation -->
  <%= link_to root_path, class: "great" do %>
    <div class="banner-home">
      <h1 class="ml16">Nelly CRESTEY</h1>
      <% end %>
    </div>
  </div>
  <script src#"https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
