<div class="page">


<div class="container-text">

<div class= draw>
  <h1> Hommages aux créateurs de mode
  </h1>
    <p> Les contraintes des climats, les moeurs et les goûts se manifestent dans les vêtements. Parfois perçus comme comme étant affaire de caprice ou de mode, ils traduisent l'expression des caractères et des sentiments. Ils marquent l'appartenance à une époque, une philosophie ou une croyance. Ils sont créés pour ajouter un attrait à la beauté, atteindre un idéal ou l'envelopper de mystère en laissant deviner le corps.

    Représentés en volume, ils évoquent des formes vivantes. Telle une seconde peau effleurant l'intime, leur représentation picturale raconte une histoire allant de la création du modèle au bruissement des étoffes qui se mettent en mouvement dans le tapage des couleurs. Ils émoussent ou amplifient les formes, se plient aux gestes et attitudes... dévoilent l'humain qui s'en est revêtu.
    </p>
</div>

 </div>

<div class="container-img">
    <div class= "draw">
      <%= image_tag "robe corolle.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
        Robe corolle rouge, modèle Dior Haute couture, 1951. Huile sur toile. 90 x 65 cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "robe dior.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Robe coupe "Princesse" bleue, modèle Dior Haute couture. Huile sur toile. 90 x 65 cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "robe_alaia_tcyafa.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      "Golden Dress", modèle Alaïa. Huile sur toile. 92 x 65 cm.
      </div>

    </div>

    <div class= "draw">
      <%= image_tag "subway dress.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      "Subway dress" (Marylin Monroe), modèle W.Travilla, 1955. Huile sur toile. 100 x 75 cm.
      </div>
    </div>

</div>
</div>
