.banner-home {
  background-color: #394666;
  height: 140px;
  font-family: 'Asap', sans-serif;

}

.banner-home h1 {
  color: #E1E8ED;
  font-size: 40px;
  position: relative;
  bottom: 20px;
  text-shadow:1px 1px 2px #51292A;
  padding-left: 120px;
  padding-top: 70px;
}
